<div>
    <hr />
    <footer class="sheet-footer form-footer flexrow">
        {{#each actionButtons}}
        {{#if display}}
        {{{button.outerHTML}}}
        {{/if}}
        {{/each}}
    </footer>
</div>
