<div class="flexcol document-wrapper" data-id="{{this.object.id}}" data-uuid="{{this.object.uuid}}">
    <img src="{{object.img}}" data-action="viewFace"/>
    <hr/>
    <footer class="sheet-footer flexrow">
        {{#each actions}}
        {{#if display}}
        {{{button.outerHTML}}}
        {{/if}}
        {{/each}}
    </footer>
</div>
