{{#if (or showObservable isGM)}}
<ol id="available-hands" class="panel items plain scrollable flexcol" data-tooltip-direction="RIGHT">
    {{#if ownedHands.length}}
    {{#each ownedHands}}
    {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
    {{/each}}
    {{/if}}
    {{#if (and ownedHands.length observableHands.length)}}
    <hr />
    {{/if}}
    {{#if observableHands.length}}
    {{#each observableHands}}
    {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
    {{/each}}
    {{/if}}
</ol>
{{/if}}
<div id="pinned-hands" class="panel flexcol">
    <ol id="pinned-hands-list" class="container items plain scrollable flexcol" data-tooltip-direction="RIGHT">
        {{!-- First list the SWADE favorited hand (if applicable) --}}
        {{#if favoriteHand}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=favoriteHand parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/if}}
        {{#if (and favoriteHand pinnedHands.length)}}
        <hr />
        {{/if}}
        {{#each pinnedHands}}
        {{#if isOwner}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/if}}
        {{/each}}
        {{#each pinnedHands}}
        {{#unless isOwner}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/unless}}
        {{/each}}        {{!-- Next list the remaining owned hands --}}
    </ol>
    <div id="card-hands-stats" class="flexrow">
        <div id="hands-owned">
            <label>{{localize 'CardHandsList.Owner'}}</label>
            <span class="owner">{{ownedHands.length}}</span>
        </div>
        {{#if showObservable}}
        <div id="hands-observable">
            <label>{{localize 'CardHandsList.Observer'}}</label>
            <span class="observer">{{observableHands.length}}</span>
        </div>
        {{/if}}
        <button id="expand" type="button" class="icon fa-solid fa-caret-up" data-action="expand"></button>
    </div>
</div>
