{{!-- Unpinned Hands --}}
<ol id="available-hands" class="panel items plain scrollable flexcol" data-tooltip-direction="RIGHT">
    {{!-- Owned Hands --}}
    {{#if unpinnedOwnedHands.length}}
    {{#each unpinnedOwnedHands}}
    {{> 'modules/card-hands-list/templates/hand.hbs'}}
    {{/each}}
    {{/if}}
    {{#if (and unpinnedOwnedHands.length unpinnedObservableHands.length)}}
    <hr />
    {{/if}}
    {{!-- Observable Hands --}}
    {{#if unpinnedObservableHands.length}}
    {{#each unpinnedObservableHands}}
    {{> 'modules/card-hands-list/templates/hand.hbs'}}
    {{/each}}
    {{/if}}
</ol>
{{!-- Pinned Hands --}}
<div id="pinned-hands" class="panel flexcol">
    {{#if (or pinnedOwnedHands.length pinnedObservableHands.length)}}
    <ol id="pinned-hands-list" class="container items plain scrollable flexcol" data-tooltip-direction="RIGHT">
        {{!-- Owned Hands --}}
        {{#each pinnedOwnedHands}}
        {{> 'modules/card-hands-list/templates/hand.hbs'}}
        {{/each}}
        {{#if (and pinnedOwnedHands.length pinnedObservableHands.length)}}
        <hr />
        {{/if}}
        {{!-- Observable Hands --}}
        {{#each pinnedObservableHands}}
        {{> 'modules/card-hands-list/templates/hand.hbs'}}
        {{/each}}
    </ol>
    {{/if}}
    <div id="card-hands-stats" class="flexrow">
        <div id="hands-owned">
            <label>{{localize 'CardHandsList.Owner'}}</label>
            <span class="stat-value owner">{{stats.owner}}</span>
        </div>
        {{#if showObservable}}
        <div id="hands-observable">
            <label>{{localize 'CardHandsList.Observer'}}</label>
            <span class="stat-value observer">{{stats.observer}}</span>
        </div>
        {{/if}}
        <button id="expand" type="button" class="icon fa-solid fa-caret-up" data-action="expand"></button>
    </div>
</div>
