<div id="hand-mini-bar-hand-{{id}}" class="hand-mini-bar-hand">
    <div id="hand-mini-bar-hand-name-{{id}}" class="hand-mini-bar-hand-name">
    </div>
    <div  class="hand-mini-bar-hand-inner">
        <div class="hand-mini-bar-settings">
            <div class="hand-mini-bar-settings-hand" title="{{localize 'HANDMINIBAR.OpenHand'}}">

            </div>
            <div class="hand-mini-bar-settings-choose" title="{{localize 'HANDMINIBAR.ChooseHand'}}">

            </div>
        </div>
        <div id="hand-mini-bar-card-container-{{id}}" class="hand-mini-bar-card-container">
        </div>
        <div class="hand-mini-bar-actions">
            <div class="hand-mini-bar-draw" title="{{localize 'HANDMINIBAR.AddCard'}}">

            </div>
            <div class="hand-mini-bar-pass" title="{{localize 'HANDMINIBAR.Pass'}}">

            </div>
        </div>
    </div>
</div>
