<form class="hand-mini-bar-window" autocomplete="off">
  <div class="hand-mini-bar-window-cards">
    {{#if isDeck}}
      {{#each cards}}
        <img class="hand-mini-bar-window-card card" src="{{this.img}}" data-card-id="{{this.id}}" data-img="{{this.img}}" draggable="true"/>
      {{/each}}
    {{else}}
      {{#each cards}}
        {{#unless this.drawn}}
          <img class="hand-mini-bar-window-card card" src="{{this.img}}" data-card-id="{{this.id}}" data-img="{{this.img}}" draggable="true"/>
        {{/unless}}
      {{/each}}
    {{/if}}
  </div>
</form>
