div:not(:is(.camera-position-left, .camera-position-right)) .card-hands-list-container {
    &.minimal-ui {
        box-shadow: 0 var(--hotbarshp) var(--shadowstrength) 2px var(--shadowcolor);
        border: 1px solid var(--bordercolor);
        opacity: var(--opacity);
        margin-bottom: calc(var(--playerbot) / 6);

        &.player-list-behavior-clicktoggle {
            transition: all 0.5s ease-out 0s;
        }

        &.player-list-behavior-hidden {
            margin-bottom: -50px;
        }

        &:is(.player-list-behavior-clicktoggle, .player-list-behavior-autohide:hover, .player-list-behavior-hidden) {
            --playerwidthhv: 200px;
            --playerfsizehv: inherit;
            --playervis: visible;
            width: var(--playerwidthhv);
            max-height: 450px;
            visibility: var(--playervis);
            font-size: var(--playerfsizehv);
            overflow: hidden;

            .card-hands-list-title {
                margin: 1px;
                padding-left: 2px;
            }
        }

        &.collapsed:is(.player-list-behavior-clicktoggle, .player-list-behavior-hidden),
        &.player-list-behavior-autohide:not(:hover) {
            width: var(--players-width);
            padding: 2px;
            opacity: var(--opacity);
            font-size: var(--playerfsize);

            .card-hands-list-title {
                margin: 1px;
                padding-left: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: none;

                > .fa-cards {
                    font-size: 1rem;
                    order: 2;
                }

                > .card-hands-list-mode {
                    margin-bottom: 7px;
                    order: 1;
                }
            }

            #card-hands-list-hands-wrapper {
                height: 0;
                display: none;
            }
        }

        &.collapsed.player-list-behavior-hidden,
        &.player-list-behavior-autohide {
            --playerfsize: 0;
            --players-width: 32px;
            font-size: var(--playerfsize);
        }
    }
}
