#card-hands-list-container {
  width: var(--players-width);
  margin: 0 5px 10px 15px;
  padding: 0;
  display: block;
  z-index: 1;
  border: 1px solid var(--color-border-dark);
  color: var(--color-text-light-highlight);
}
div#camera-views #card-hands-list-container {
  background: none;
  box-shadow: none;
  margin: 0;
  width: 100%;
  border-radius: 0;
  border: none;
  border-top: 6px solid rgba(0, 0, 0, 0.5);
}
#card-hands-list-container #card-hands-list-hands-wrapper {
  max-height: 40vh;
  margin-bottom: 5px;
  padding: 2px;
  overflow-y: overlay;
  pointer-events: all;
}
#card-hands-list-container.hidden #card-hands-list-hands-wrapper {
  max-height: 188px;
}
#card-hands-list-container .card-hands-list-title {
  margin: 3px;
  padding: 4px;
  font-size: 1.2em;
  border-bottom: 2px groove var(--color-border-dark-secondary);
  pointer-events: all;
}
#card-hands-list-container .card-hands-list-title i {
  margin: 0 6px;
}
#card-hands-list-container .card-hands-list-title .card-hands-list-mode {
  font-size: var(--font-size-16);
  margin: 0 5px;
  color: var(--color-text-light-primary);
}
#card-hands-list-container .card-hands-list-hand {
  display: grid;
  grid-template-columns: 1fr 18px;
  grid-template-rows: 1fr 60px;
  margin: 4px;
  padding: 4px;
}
#card-hands-list-container .card-hands-list-name {
  margin: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: var(--font-size-14);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  pointer-events: all;
}
#card-hands-list-container .card-hands-list-name.is-owner {
  color: #c0eddb;
}
#card-hands-list-container .card-hands-list-buttons {
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}
#card-hands-list-container .card-hands-list-button {
  color: var(--color-text-light-heading);
  cursor: pointer;
  pointer-events: all;
}
#card-hands-list-container .card-hands-list-button:hover,
#card-hands-list-container .card-hands-list-name:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
#card-hands-list-container .card-hands-list-cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  display: block;
  overflow-y: hidden;
  overflow-x: overlay;
  border: 1px solid transparent;
  pointer-events: all;
  white-space: nowrap;
}
#card-hands-list-container .card-hands-list-cards:hover {
  box-shadow: 0 0 10px var(--color-shadow-highlight) inset;
  border: 1px solid var(--color-border-highlight-alt);
}
#card-hands-list-container .card-hands-list-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-shadow-dark);
  box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  overflow: clip;
}
#card-hands-list-container .card-hands-list-card .card-hands-list-card-image {
  max-height: 58px;
  object-fit: contain;
  border: none;
}