@use 'card-hands-list-container';
@use 'minimal-ui-support';

.card-hands-list-tooltip-heading {
    font-size: 0.9em;
    font-weight: bold;

    &:has(+ .card-hands-list-card-text-description) {
        margin-bottom: 0.125em;
        padding-bottom: 0.125em;
        border-bottom: 1px dotted currentColor;
    }
}

.card-hands-list-card-text-description {
    margin: 0;
    font-size: 0.8em;
}
